/* 

Elaborado por Jaens Ramirez
*/

*

body {
	overflow-x: hidden;
	background-color: #fff;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	font-size: 13px;
	line-height: 24px;
}

.tm-top-bar.active {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background: white;
    height: 75px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 300;
}
.navbar{
	font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-toggler { 
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}
.navbar-collapse.collapse{
	  display: flex!important;
	  flex-basis: auto;
    padding-right: 15px;
    padding-left: 170px;
    padding-top: 20px;
    font-size: 17px;
  }
  
.columns_1{
	float: left;
	width: 100%;
	padding: 0px;
}
.columns_2l{
	float: left;
	width: 40%;
	padding: 0px;
}

.columns_2r{
	float: right;
	width: 40%;
	padding: 0px;
}
.columns_3{
	float: left;
	width: 32%;
	padding: 0px;
}
.columns_3l{
	float: left;
	width: 20%;
	padding: 0px;
}

.columns_3c{
	float: none;
	width: 1%;
	padding: 0px;
}

.columns_3r{
	float: right;
	width: 1%;
	padding: 0px;
}
.glyphicon.glyphicon-plane {
	font-size: 75px;
} 

.fancyLine1 {
	border-bottom: 20px solid steelblue;
	border-radius: 15px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.fancyLine2 {
	border-bottom: 20px solid steelblue;
	border-radius: 15px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}



.tm-top-bar-bg {
    height: 119px;
    position: fixed;
}
.row .pad {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.tm-top-bar a {
    color: black;
    padding-top: 0;
}
.tm-top-bar .navbar-brand img {
    width: 160px;
    height: auto;
}

.navbar {
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
	font-size: 2.2rem;    
    text-transform: uppercase;    
}

.nav-link.active, .nav-link:hover {	color: #69c6ba;	}


.navbar-toggler { 
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}

.navbar-expand-lg .navbar-toggler {
    display: none;
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg) viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath
	 stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E)
}

.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
    padding: 50px 35px;
}

.section-heading h2 {
	margin-top: 0px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 900;
	color: #121212;
}

.page-direction-button a {
	display: inline-block;
	line-height: 60px;
	width: 270px;
	height: 60px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #ffe165;
	font-size: 18px;
	font-weight: 700;
	color: #121212;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0px;
}

.page-direction-button a i {
	margin-right: 5px;
	font-size: 20px;
}

.primary-button a {
	text-decoration: none;
	margin-top: 15px;
	width: auto;
	padding: 0px 18px;
	height: 36px;
	background-color: #ffe165;
	font-size: 13px;
	color: #121212;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	line-height: 36px;
}

.owl-pagination {
  margin-top: -95px;
  opacity: 1;
  display: inline-block;
  position: absolute;
  right: 0px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.25);
  height: 80px;
  line-height: 80px;
  padding: 0px 15px;
}

.owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffe165;
}

.banner .social-links {
  list-style: none;
  margin-top: 0px;
  padding-right: 100px;
}

.banner .social-links li {
  display: block;
  text-align: center;
  margin: 10px 0px;
  transition: all 0.5s;
}

.banner .social-links a {
  display:block;
  transition: all 0.5s;
  text-align: left;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing: 0.5px;
  color:#fff;
  font-size: 17px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  background-color: rgba(250, 250, 250, 0.1);
}

.banner .social-links a em {
	font-style: normal;
	font-weight: 700;
}

.banner .social-links a i {
	float: right;
	background-color: rgba(250, 250, 250, 0.2);
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 36px;
}

.banner .social-links li:hover {
  background-color: rgba(255, 225, 101, 0.5);
}

.banner .social-links li:hover i {
  background-color: rgba(255, 225, 101, 0.3);
}


.banner {
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}

.banner .left-side {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	margin-left: -100vh;
	padding-left: 100vh;
}

.banner .page-direction-button {
	margin-top: 120px;
}

.banner .logo img {
	padding-top: 60px;
	max-width: 100%;
}

.banner .tabs-content {
	margin-top: 120px;
}

.banner .tabs-content h4 {
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}


.banner .submit-form {
	text-align: left;
	margin: 155px 0px;
	background-color: rgba(250, 250, 250, 0.95);
	padding: 30px;
}


.submit-form h4 {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: inline-block;
	border-bottom: 1px solid #dbdada;
}

.submit-form h4 em {
	font-style: normal;
}

.submit-form label {
	margin-top: 10px;
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color: #121212;
}
.form-group .tm-form-element .tm-form-element-2{
	text-transform: uppercase;
  color: #121212;
}

.submit-form select {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding: 0px 10px;
	display: inline-block;
}

.submit-form .date1 {
	width: 45%;
}


.submit-form .date {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	border: none;
	background-color: #e7e7e7;
	font-size: 11px;
	color: #9a9a9a;
	outline: none;
	padding-left: 15px;
	margin-left: 0px;
	display: inline-block;
	box-shadow: none;
	border-radius: 0px;
}

.submit-form input {
	margin-top: 0px;
	margin-left: 5px;
	cursor: pointer;
	line-height: 2.1;
	width: 100%


}

.submit-form .radio-select {
	margin-top: 15px;
}

.submit-form button {
	margin-top: 15px;
	width: 100%;
	height: 36px;
	background-color: #ffe165;
	font-size: 13px;
	color: #121212;
	font-weight: 600;
}


#recommended-places {
	margin-top: 10px;
	background-color: #f4f4f4;
	padding: 80px 0px;
}

#recommended-places .tabs {
  list-style: none;
  margin-top: 0px;
  padding-right: 0px;
}

#recommended-places .tabs li:first-child {
	margin-top: 0px;
}

#recommended-places .tabs li {
  display: block;
  text-align: center;
  margin: 8px 0px;
}

#recommended-places .tabs a {
  display:block;
  transition: all 0.5s;
  text-align: left;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing: 0.5px;
  color:#fff;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  background-color: #1f3646;
}

#recommended-places .tabs a em {
	font-style: normal;
	font-weight: 700;
}

#recommended-places .tabs a i {
	float: right;
	background-color: rgba(250, 250, 250, 0.2);
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 36px;
}

#recommended-places .tabs .active {
  background-color: #ffe165;
  color: #121212;
}

#recommended-places .tabs .active i {
  background-color: rgba(255, 255, 255, 0.3);
}

.recommendedgroup img {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#first-recommendation {
	width: 100%;
	text-align: center;
	height: 400px!important;
}
#first-recommendation .text-content {
    background-color: rgba(31, 54, 70, 0.9);
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    height: 80px;
    overflow: hidden;
    color: #fff;
    padding-left: 20px;
}

#first-recommendation .text-content h4 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
}

#third-recommendation .text-content {
	background-color: rgba(31, 54, 70, 0.9);
	position: absolute;
	bottom: 0;
	right: 15px;
	left: 15px;
	height: 80px;
	overflow: hidden;
	color: #fff;
	padding-left: 20px;
}

#owl-suiteroom {
	height: 400px;
}

#third-recommendation .text-content h4 {
	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
}

#third-recommendation  .text-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

#fourth-recommendation .text-content {
	background-color: rgba(31, 54, 70, 0.9);
	position: absolute;
	bottom: 0;
	right: 15px;
	left: 15px;
	height: 80px;
	overflow: hidden;
	color: #fff;
	padding-left: 20px;
}

#fourth-recommendation .text-content h4 {
	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
}

#fourth-recommendation .text-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

#fifth-recommendation .text-content {
	background-color: rgba(31, 54, 70, 0.9);
	position: absolute;
	bottom: 0;
	right: 15px;
	left: 15px;
	height: 80px;
	overflow: hidden;
	color: #fff;
	padding-left: 20px;
}

#fifth-recommendation .text-content h4 {
	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 6px;
}

#fifth-recommendation .text-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

#sixth-recommendation .text-content {
	background-color: rgba(31, 54, 70, 0.9);
	position: absolute;
	bottom: 0;
	right: 15px;
	left: 15px;
	height: 80px;
	overflow: hidden;
	color: #fff;
	padding-left: 20px;
}

#sixth-recommendation .text-content h4 {
	font-size: 12.5px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 6px;
}

#sixth-recommendation .text-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

.suiteroom-item .text-content {
	background-color: rgba(31, 54, 70, 0.9);
	position: absolute;
	bottom: 0;
	right: 0px;
	left: 0px;
	height: 80px;
	overflow: hidden;
	color: #fff;
	padding-left: 20px;
}

.suiteroom-item .text-content h4 {
	font-size: 13px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
}

.suiteroom-item .text-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}




#most-visited {
	margin-top: 100px;
	margin-bottom: 100px;
}

.visited-item {
	box-shadow: 0px 5px 15px #ddd;
	margin-bottom: 30px;
}

.visited-item .text-content {
	background-color: #f4f4f4;
	padding: 15px;
}


.visited-item img {
	width: 100%;
	overflow: hidden;
}

.visited-item h4 {
	margin-top: 0px;
	font-size: 16px;
	font-weight: 700;
	color: #121212;
}

.visited-item span {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #3f6f90;
}

#owl-mostvisited .owl-pagination {
  margin-top: 20px;
  opacity: 1;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 9999;
  background-color: transparent;
  height: 0px;
  line-height: 0px;
  padding: 0px;
}

#owl-mostvisited .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ddd;
}

#owl-mostvisited .owl-controls .owl-page.active span,
#owl-mostvisited .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  display: inline-block;
  background: #ffe165;
}



footer {
	text-align: center;
	background-color: #1f3646;
	padding: 60px 0px;
}

footer .primary-button {
	margin-bottom: 40px;
}

footer .social-icons {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .social-icons li {
	display: inline-block;
	margin: 0px 3px;
}

footer .social-icons li a {
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background-color: #364a59;
	transition: all 0.5s;
}

footer .social-icons li a:hover {
	background-color: #ffe165;
	color: #1f3646;
}

footer p {
	color: #fff;
	font-size: 12px;
	margin-top: 40px; 	
}

footer p em {
	font-style: normal;
	font-weight: 700;
	color: #ffe165;
}






.page-heading {
	background-image: url(../img/heading-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	position: relative;
}

.page-heading .logo {
	padding: 60px 0px;
	text-align: left;
}

.page-heading .page-direction-button {
	text-align: right;
	margin-top: 110px;
}


.contact-us .section-heading h2 {
	margin-top: 100px;
	margin-bottom: 10px;
}

.contact-us .section-heading p {
	font-size: 14px;
	color: #4a4a4a;
	padding: 0px 20%;
	text-align: center;
	margin-bottom: 50px;
}

.contact-us img {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

.contact-us h6 {
	margin-bottom: 15px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
	color: #121212;
}

.contact-us p {
	font-size: 14px;
	color: #4a4a4a;
}



.contact-form {
	margin-top: 100px;
	background-image: url(../img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 100px 0px;
}

.contact-form h2 {
	color: #fff;
}

.contact-form input {
	font-size: 13px;
	margin-bottom: 30px;
	width: 100%;
	height: 36px;
	padding-left: 15px;
	background-color: #fff;
	color: #4a4a4a;
	outline: none;
	border-radius: 0px;
}

.contact-form textarea {
	font-size: 13px;
	margin-bottom: 30px;
	width: 100%;
	height: 160px;
	max-height: 250px;
	padding-left: 15px;
	background-color: #fff;
	color: #4a4a4a;
	outline: none;
	border-radius: 0px;
}

.contact-form button {
	outline: none;
	width: 190px;
	height: 36px;
	background-color: #ffe165;
	font-size: 13px;
	color: #121212;
	font-weight: 600;
	border-radius: 0px;
}


.map {
	background-color: #f4f4f4;
	padding: 100px 0px;
}




@media (max-width: 991px) {

	.banner .left-side {
		text-align: center;
		overflow: hidden;
		padding-left: 0vh;
		margin-left: -50vh;
		margin-right: -50vh;
		padding-right: 50vh;
		padding-left: 50vh;
	}

	.banner .social-links {
	  list-style: none;
	  margin-top: 0px;
	  padding-right: 15px;
	  padding-left: 15px;
	}

	.banner .page-direction-button {
		margin-top: 50px;
	}

	.banner .logo img {
		padding-top: 40px;
		max-width: 100%;
	}

	.banner .tabs-content {
		margin-top: 60px;
	}

	.banner .submit-form {
		margin: 30px 30px;
	}

	#weather .tabs li {
		display: block;
		text-align: center;
		width: 100%;
		margin: 0px 0px;
	}

	#weather .tabs a {
	  display:block;
	  color:#fff;
	  font-size: 13px;
	  display: block;
	  width: 100%;
	  height: 60px;
	  line-height: 60px;
	  padding-left: 0px;
	  text-align: center;
	}

	#weather .weather-item {
		margin-bottom: 30px;
	}

	.weathergroup {
		padding: 30px 30px 10px 30px;
	}

	.service-item {
		margin: 30px 0px; 
	}

	.page-heading .logo {
		padding: 60px 0px;
		text-align: center;
	}

	.page-heading .page-direction-button {
		text-align: center;
		margin-top: 0px;
	}

	.weather-item h6 {
		margin-bottom: 30px;
	}

	.weather-item .weather-icon {
		margin-bottom: 20px;
	}

	.weather-item ul {
		margin-top: 20px;
		padding: 20px 10px;
	}

	.weather-item ul li {
		margin: 0px 5px;
	}

	footer ul li {
		margin-bottom: 10px!important;
	}
		
}

@media (max-width: 768px) {


	
}

@media (max-width: 480px) {



}