{% extends 'Buscador/base.html' %}
{% block content %}

<h4 class="mb-0"><center> <strong>Las mejores opciones para tu vuelo</strong></center></h4>
<div class="list-group">

{% for id in id %}

  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
	<img src="https://raw.githubusercontent.com/lapicos/vuelafacil/main/boarding-pass.png" alt="twbs" width="45" height="45" class="rounded-circle flex-shrink-0">
	<div class="d-flex gap-2 w-100 justify-content-between">
	  <div>
		<h4 class="mb-0"><strong>Información del vuelo: IDA </strong></h4>
		<h6 class="mb-0"><strong> ID: {{id}}</strong></h6>
		<h6 class="mb-0"><strong> Ciudad de origen: {{departureorigin.0}}</strong></h6>
		<h6 class="mb-0"><strong> Ciudad de destino: {{departuredestination.0}}</strong></h6>
		<h6 class="mb-0"><strong> Fecha y hora del viaje: {{departureat.0}}</strong></h6>
		<h6 class="mb-0"><strong> Duración del viaje: {{durationdeparture.0}}</strong></h6>
		<h6 class="mb-0"><strong> Número de paradas: {{stopdeparture.0}}</strong></h6>
		<h6 class="mb-0"><strong> Aerolínea: {{airline.0}}</strong></h6>
		<br>
		<h4 class="mb-0"><strong>Información del vuelo: REGRESO </strong></h4>
		<h6 class="mb-0"><strong> Ciudad de origen: {{returnorigin.0}}</strong></h6>
		<h6 class="mb-0"><strong> Ciudad de origen: {{returndeparture.0}}</strong></h6>
		<h6 class="mb-0"><strong> Fecha y hora del viaje: {{returnat.0}}</strong></h6>
		<h6 class="mb-0"><strong> Duración del viaje: {{durationreturn.0}}</strong></h6>
		<h6 class="mb-0"><strong> Número de paradas: {{stopreturn.0}}</strong></h6>
		<h6 class="mb-0"><strong> Aerolínea: {{airline.0}}</strong></h6>
		<br>
		<h4 class="mb-0"><strong>Información de la tarifa </strong></h4>
		<h6 class="mb-0"><strong> Precio base: {{pricebase.0}}</strong></h6>
		<h6 class="mb-0"><strong> Precio total: {{pricetotal.0}}</strong></h6>
	  </div>
	</div>
  </a>

{% endfor %}
</div>

{% endblock %}